<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Проект Журнал — система для управления расписанием и посещаемостью студентов">
  <meta name="author" content="BlackCoffeeCoding">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Приёмная комиссия</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <style>
    body {
      background-color: #fbeba3; /* Заменён фон на цвет */
    }
  </style>
  <link rel="icon" href="/pic/BCCOwl.png" type="image/png"> <!-- Иконка сайта -->
</head>
